.section1 img{
    width: 500px;   
}
@media only screen and (max-width: 576px) {
    .section1{
        flex-direction: column;
    }
    .section1 img{
        width: 100%;
        height: 500px;   
    }
}